<div class="quiqqer-bricks-brickedit-wrapper quiqqer-bricks-brickedit-wrapper--footer">
    <form class="quiqqer-bricks-brickedit">
        <table class="data-table brick-edit-content">
            <thead>
            <tr>
                <th colspan="2">
                    {locale group="quiqqer/bricks" var="brick.edit.footer"}
                </th>
            </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </form>
    <div class="hint">
        {locale group="quiqqer/bricks" var="brick.edit.footer.hint"}
    </div>
</div>